* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
height: 100%;
width: 100%;
overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-14px!important;
 overflow-x:scroll;
}


.grid-container {
  width: 100%;
  height: 100%;
  grid-template-columns: 20% 40% 40%;
  display: grid;
}

.grid-container .nav {
  position: absolute;
  left: 0;
  padding: 2% 1%;
  background-color: red;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grid-container .media {
  position: absolute;
  left: 21%;
  padding: 2% 1%;
  background-color: green;
  overflow-x: hidden;
  overflow-y: scroll;
}

.grid-container .description {
  position: absolute;
  left: 59%;
  padding: 2% 1%;
  background-color: blue;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-outer-container {
  width: 20%;
  display: inline-block;
  overflow: auto;
}

.nav-inner-container {
  position: absolute;
  left: 0;
  padding: 2% 1%;
  background-color: red;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav-content {
  height: 100%;
}

.media-outer-container {
  width: 39.5%;
  display: inline-block;
  overflow: auto;
}

.media-inner-container {
  position: absolute;
  width: 42%;
  left: 21%;
  padding: 2% 1%;
  background-color: green;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  height: 100%;
}

.description-outer-container {
  width: 39.5%;
  display: inline-block;
  overflow: auto;
  float: right;
}

.description-inner-container {
  position: absolute;
  width: 45%;
  left: 59%;
  padding: 2% 1%;
  background-color: blue;
  overflow-x: hidden;
  overflow-y: scroll;
}
